UseTab: Never
IndentWidth: 4
ContinuationIndentWidth: 8
BreakBeforeBraces: Stroustrup
AlignAfterOpenBracket: DontAlign
AlignEscapedNewlines: DontAlign
AlignConsecutiveAssignments: true
AlignConsecutiveMacros: AcrossEmptyLines
AllowShortIfStatementsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
IndentCaseLabels: false
ColumnLimit: 0
SortIncludes: false
