Makefile
Makefile.in
.deps
.libs
*.o
*.lo
*.la
*.pc
aclocal.m4
acinclude.m4
aminclude.am
m4/*.m4
autom4te.cache
config.h*
config.sub
config.log
config.status
config.guess
configure
compile
depcomp
missing
ltmain.sh
install-sh
stamp-h1
libtool
Doxyfile
.dirstamp

.tarball-version
.version

.*.swp

doc/

src/rtl_433

CMakeCache.txt

build*/
.cproject
.settings
.project

*.orig
*~
*.tlog
*.ipdb
*.iobj
*.idb
*.lastbuildstate
*.db
*.opendb

_*/

rtl_433_tests
