# CMake out-of-tree builds
build*/

# Code coverage artifacts (see tests/coverage.sh)
*.gcda
*.gcno
*.gcov
coverage-report/

# IDE files
.cproject
.settings
.project
.cache
.vs
.idea
cmake-build-debug/

# Editor files
*.orig
*.bak
*~
*.tlog
*.ipdb
*.iobj
*.idb
*.lastbuildstate
*.db
*.opendb

# Development files
/_*/
/rtl_433_tests

# File manager files
.DS_Store
.history
